[user]
	name = Omer Cohen
	email = omercohen990@gmail.com
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = cursor --wait --diff $LOCAL $REMOTE
[push]
	autoSetupRemote = true
[core]
	editor = cursor --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
